.comment-container {
    display: flex;
    flex-direction: column;
    /* border-top: 0.5px solid #f3f3f3;
    border-bottom: 0.5px solid #f3f3f3;
    padding: 10px;
    width: 80% */
}

.comment-header {
    display: flex;
    flex-direction: row;
}

.comment-user-image-container {
    

}

.comment-user-image-container img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.comment-username-time{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.comment-time {
    font-size: 10px;
}

.comment-body {
    display: block;
    padding-left: 65px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);


}


.comment-username {
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding-bottom: 5px;
}

.comment-username:hover{
    text-decoration: underline;
}
