@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.search-button {
    border: 2px solid #274C77;
    border-radius: 10px 10px 10px 10px;
    font-size:large;
    margin: 5px;
}

#search-box {
    border: 2px solid #274C77;
    border-radius: 10px 10px 10px 10px;
    font-size:large;
}